@import "tailwindcss";
@theme {
  --color-primary: #e6e1db;
  --color-primary20: #e9e6e1;
  --color-primary60: #e6e1db99;
  --color-primary60: #e6e1dbcc;
  --color-secondary: #212f52;
  --color-secondary90: #1a2236;
  --color-tertiary: #1c3ba4;
}
